<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <property name="connection.driver_class">com.mysql.jdbc.Driver</property>
      <property name="connection.url">jdbc:mysql://localhost/social_network</property>
        <!--    <property name="connection.url">jdbc:mysql://node26154-env-test.unicloud.pl/social_network</property>-->
          <property name="connection.username">root</property>
        <property name="connection.password">qwerty</property>
       <!--   <property name="connection.password">TAHscv17437</property> -->
        <property name="dialect"> org.hibernate.dialect.MySQLDialect</property>
        <property name="hbm2ddl.auto">update</property>
        <property name="hibernate.connection.autocommit">true</property>
        <property name="hibernate.temp.use_jdbc_metadata_defaults">false</property>
        <property name="hibernate.jdbc.lob.non_contextual_creation">true</property>
        <property name="show_sql">true</property>
        <property name="format_sql">true</property>
        <property name="use_sql_comments">true</property>


        <mapping class="com.kpi.compsys.model.Comment"/>
        <mapping class="com.kpi.compsys.model.File"/>
        <mapping class="com.kpi.compsys.model.Project"/>
        <mapping class="com.kpi.compsys.model.SessionHistory"/>
        <mapping class="com.kpi.compsys.model.StatusEntityAdapter"/>
        <mapping class="com.kpi.compsys.model.Task"/>
        <mapping class="com.kpi.compsys.model.User"/>
        <mapping class="com.kpi.compsys.model.UserInfo"/>
        <mapping class="com.kpi.compsys.model.UserRole"/>


    </session-factory>
</hibernate-configuration>
